<!DOCTYPE html>
<html>
<head>
	<title>Not Twitter</title>
	<link rel="stylesheet" href="/mdl/material.css">
	<script src="/mdl/material.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" href="/css/styles.css" media="screen" title="no title">
	<script src="/js/main.js" type="text/javascript"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<header class="mdl-layout__header">
			<div class="mdl-layout__header-row">
				<span class="mdl-layout__title">MicroBlog</span>
				<div class="mdl-layout-spacer"></div>
				<nav class="mdl-navigation mdl-layout--large-screen-only">
					<a class="mdl-navigation__link" href="/">Home</a>
					<a class="mdl-navigation__link" href="/users/new">Sign Up!</a>
					<a class="mdl-navigation__link" href="/posts/new">Make a post</a>
					<a class="mdl-navigation__link" href="/posts">View posts</a>
				</nav>
			</div>
		</header>
		<div class="mdl-layout__drawer">
			<span class="mdl-layout-title">MicroBlog</span>
			<nav class="mdl-navigation">
				<a class="mdl-navigation__link" href="/">Home</a>
				<a class="mdl-navigation__link" href="/users/new">Sign Up!</a>
				<a class="mdl-navigation__link" href="/posts/new">Make a post</a>
				<a class="mdl-navigation__link" href="/posts">View posts</a>
			</nav>
		</div>

	<% if !session[:user_id] %>
		<form action="/signin" method="get">
			<input type="submit" value="login">
		</form>
	<% else %>
		<form action="/logout" method="post">
			<input type="submit" value="logout">
		</form>
	<% end %>

	<main class="mdl-layout__content">
		<div class="page-content">
			<%= flash[:notice] 	if flash[:notice] %>
			<%= flash[:alert] 	if flash[:alert] %>
			<hr><hr><hr>
			<%= yield %>
		</div>
	</main>

</div>
</body>
</html>
