<h2>New Post</h2>

<form action="/posts/create" method="post">
  <input type="input" name="title" placeholder="Blog Title">
  <input type="text" name="body" placeholder="Blog content">
  <input type="input" name="category" placeholder="Blog category">

  <input type="submit">
</form>
