<h4>SIGN IN!!!!</h4>
<form action="/login" method="post">
  name: <input type="text" name="name">
  email: <input type="text" name="email">
  password: <input type="text" name="password">
  <input type="submit" name="name" value="Sign In!">
</form>
