<h3>Here are your details</h3>

<strong>User name:</strong> <%= @user.name %> edit <br>
<strong>User password:</strong> <%= @user.password %> edit <br>
<strong>User email:</strong> <%= @user.email %> edit <br>
<strong>User adminStatus:</strong> <%= @user.admin %> edit <br>
